<style>
    .bar {
        height: 70px;
        display: flex;
        align-items: center;
        background-color: #05549c;
        color: #F6F6F6;
        font-weight: 600;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 50px;
        margin-left: none;
    }

    .pageIntro {
        text-align: left;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: black;
    }

    .note {
        text-align: left;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: black;
        font-style: italic;
    }

    .header {
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 24px;
        color: black;
        text-align: left;
        font-weight: bold;
    }

    .myList {
        margin: 20px;
    }

    table,
    th,
    td {
        border-collapse: collapse;
        border: 1px solid black;
        font-size: 14px;
        text-align: center;
        margin: 20px;
        padding: 5px;
        background-color: whitesmoke;
    }
</style>

<!--Results for all the 2019 matches of a team selected-->
<span><br></span>
<span class="bar">
    <h3 style="font-size: 26px; font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Matches
    </h3>
</span>
<form>
    <p>
        <select class="myList" (change)="onSelect($event.target.value)">
            <option>All Teams</option>
            <option *ngFor="let team of teams" [ngValue]=team>{{team.name}}</option>
        </select>
    </p>

    <!-- Displays game information using selectedTeam as Input -->
    <app-game-info [team]="selectedTeam"></app-game-info>

</form>



<span><br></span>