<style>
  .bar {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #05549c;
    color: #F6F6F6;
    font-weight: 600;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
    margin-left: none;
  }

  .pageIntro {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
  }

  .note {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-style: italic;
  }
</style>

<span><br></span>
<span class="bar"
  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  text-shadow: 2px 2px 4px #000000;">
  <h3 style="font-size: 30px; font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Teams
  </h3>
</span>
<br>

<div style="margin: 0.5%; padding: 1%; background-color: snow; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<!-- Display View-League-Table2 Component -->
<app-view-league-table2></app-view-league-table2>
<span><br></span>
</div>